body{
	background-color: rgb(62, 69, 69);
	margin: 0;
	padding: 0;
	font-family: fantasy, "Century Gothic", Verdana;
	text-align: center;
}

#contenitore {
	background-color: rgb(62, 69, 69);
	font-family: fantasy, "Century Gothic", Verdana;
	padding: 0;
	width: 980px;
	position: relative;
	margin:auto;
}

#cont_est {
	background-color: rgb(62, 69, 69);
	font-family: fantasy, "Century Gothic", Verdana;
	margin-left: 20%;
	padding: 0;
}

#login_est {
	font-family: fantasy, "Century Gothic", Verdana;
	width: 750px;
	height: 650px;
	position:relative;
	margin-left: 0px;
}

#reg_est {
	font-family: fantasy, "Century Gothic", Verdana;
	text-align: center;
	width: 570px;
	height: 230px;
	overflow: auto;
	position: absolute;
	left: 170px;
	top: 120px;
}

#vis_utenza {
	font-family: fantasy, "Century Gothic", Verdana;
	text-align: center;
	overflow: auto;
	position: absolute;
	top: 480px;
}	

#latosx {
	width: 150px;
	position: absolute;
	top: 0px;
	left: 20px;
	font-family: fantasy, "Century Gothic", Verdana;
	margin: 0;
	padding: 0;
}

#testaperg {
	position: absolute;
	width: 630px;
	top: -25px;
	z-index: 1;
}


#fondop {
	position: absolute;
	background-color: rgb(62, 69, 69);
}
#corpocentrale {
	background-image: url(immagini/corpo.png);
	background-repeat: repeat-y;
	width: 630px;
	position: relative;
	top: 30px;
	left: 200px;
	font-family: fantasy, "Century Gothic", Verdana;
	line-height: 1.2;
	margin-top: 5px;
	margin-bottom: 30px;
	text-align: left;
}
#banner {
	font-family: "Century Gothic", Verdana;	
	background-color: green;
	width: 120px;
	position: absolute;
	top: 0;
	right: 0;
}
#contenuto{
padding: 10px;
}
.titolo {
	font-size: 150%;
	font-weight: 600;
	text-align: center;
}

.sfondoverde {background-color: #008000;  height: 5px;}
.sfondorosso {background-color: #FF0000;  height: 5px;}

#menu{
position: fixed;
text-align: center;
z-index: 2;
}
#tattic,#estmenu{
text-align: center;
}
#lutenti{
text-align: center;
}
#menu a,#tattic a,#estmenu a{
background-color: #ffbb88;
display: block;
padding: 3px;
text-decoration: none;
width: 148px;
margin: 3px;
border: groove #ffbb88;
}
#menu a:focus,#menu a:hover,#tattic a:focus,#tattic a:hover,#estmenu a:focus,#estmenu a:hover,a.alutenti:hover,a.alutenti:focus{
background-color: #ff9977;
border: groove #ff9977;
}
#tempogenpag{
position: relative;
text-align: center;
font-size: small;
}
#menu ul,#tattic ul,#tattic ul,#lutenti ul{
margin: 0;
padding: 0;
list-style: none;
}
#menu li,#tattic li,#lutenti li{
position: relative;
}
#menu li ul,#tattic li ul{
position: absolute;
left: 160px;
top: -3px;
display: none;
}
#menu li:hover ul,#tattic li:hover ul,#lutenti li:hover ul{
display: block;
}
a.alutenti{
background-color: #ffbb88;
display: block;
text-decoration: none;
width: 140px;
border: groove #ffbb88;
padding: 3px;
}
#lutenti li ul{
position: absolute;
display: none;
left: 150px;
top: 0;
}
.nascosto{
visibility:hidden;
position:absolute;
}
.visibile{
visibility:visible;
position:relative;
}