body {
	background-color: #60ACD7;
	font-family: Verdana;
}
.sfondoverde {background-color: #008000;}
.sfondorosso {background-color: #FF0000;}
#menu {background-color: #ffbb88;
position: fixed;
text-align: center;
}
#menu a{
display: block;
padding: 3px;
text-decoration: none;
width: 148px;
margin: 3px;
}
#menu a:focus,#menu a:hover{
background-color: #ff9977;
}
#tempogenpag{
bottom: 0;
position: absolute;
text-align: center;
}