body{
	background-color: #60ACD7;
	font-family: "Century Gothic", Verdana;
}
.sfondoverde {background-color: #008000;  height: 5px;}
.sfondorosso {background-color: #FF0000;  height: 5px;}
#menu{
position: fixed;
text-align: center;
}
#tattic{
text-align: center;
}
#lutenti{
text-align: center;
}
#menu a,#tattic a{
background-color: #ffbb88;
display: block;
padding: 3px;
text-decoration: none;
width: 148px;
margin: 3px;
border: groove #ffbb88;
}
#menu a:focus,#menu a:hover,#tattic a:focus,#tattic a:hover,a.alutenti:hover,a.alutenti:focus{
background-color: #ff9977;
border: groove #ff9977;
}
#tempogenpag{
text-align: center;
font-size: small;
}
#menu ul,#tattic ul,#tattic ul,#lutenti ul{
margin: 0;
padding: 0;
list-style: none;
}
#menu li,#tattic li,#lutenti li{
position: relative;
}
#menu li ul,#tattic li ul{
position: absolute;
left: 160px;
top: -3px;
display: none;
}
#menu li:hover ul,#tattic li:hover ul,#lutenti li:hover ul{
display: block;
}
a.alutenti{
background-color: #ffbb88;
display: block;
text-decoration: none;
width: 140px;
border: groove #ffbb88;
padding: 3px;
}
#lutenti li ul{
position: absolute;
display: none;
left: 150px;
top: 0;
}
div.nascosto{
visibility:hidden;
position:absolute;
}
div.visibile{
visibility:visible;
position:relative;
}